.mainBody{
    font-family: "Montserrat", sans-serif;
}
.underlineLi{
    border-bottom: 0.5px solid #3d3f4e;
}

.orangeUnderline{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.8rem !important;
    border-bottom: 2px solid #F74C41;
    color: #161736;
}

.subHeading{
    color: #0A0E2B;
}

.subHeading h3{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.subHeading .description{
    font-size: large;
    font-weight: 200;
}

.auth .description{
    font-size: 16px;
    font-weight: 200;
    color: rgb(194, 192, 192);
}

.h2-background {
    transform: rotate(140deg);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0.7rem;
    position: absolute;
    width: 80px;
}

.h2-background div {
    height: 13px;
    width: 70px;
    border-radius: 13px;
    opacity: 0.15;
    z-index: -2;
}

.h2-background .blue {
    background-color: #3AFAFE;
}

.h2-background .red {
    background-color: #F74C41;
    margin-bottom: .3rem;
}

.QucikValidationtable tr {
    border-bottom: 0.5px solid #e4e2e2; /* Adjust the color and thickness as needed */
}
.buyCreditsCost {
    font-family: 'Ubuntu', sans-serif;
}

.section-button:hover,
.notfound a:hover {
    border-color: rgba(22, 109, 110, 0.7);
}

.notfound h1 {
    font-size: 20rem !important;
    margin-left: -12px !important;
}

.notfound h2 {
    font-size: 3rem !important;
}


.notfound h3 {
    font-size: 16rem !important;
    margin-left: -12px !important;
}
.notfound h4 {
    font-size: 1.2rem !important;
}

.notfound h1 {
    color: #0A0E2B;
    text-shadow: -1px -1px 0px #F74C41, 1px 1px 0px #3AFAFE;
    font-family: 'Montserrat', sans-serif;

    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%); */
    font-size: 14rem;
    font-weight: 900;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    margin-left: -30px;
    letter-spacing: -20px;
}

.notfound h3 {
    color: #0A0E2B;
    text-shadow: -1px -1px 0px #F74C41, 1px 1px 0px #3AFAFE;
    font-family: 'Montserrat', sans-serif;

    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%); */
    font-size: 14rem;
    font-weight: 900;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    margin-left: -30px;
    letter-spacing: -20px;
}

.notfound h2 {
    letter-spacing: 15px;
    margin-top: -110px;
    margin-bottom: 3rem;
    font-size: 2.7rem;
    font-weight: 700;
}

.notfound Link{
    border: 2px solid #3AFAFE;
    padding: 0.6rem 2rem;
    border-radius: 44px;
    transition: all 0.3s ease 0s;
}

.notfound {
    margin: 7rem 0 12rem;
}





 



